header {
    background: none repeat scroll 0 0 #64DBF8;
    color: #2E6E9E;
    font-size: 20px;
    padding: 5px 20px;
}

footer {
    background: none repeat scroll 0 0 #64DBF8;
    color: black;
    font-size: 20px;
    padding: 5px 20px;
    margin: 20px 0;
}

section {
    width: 900px;
    margin: auto;
}

dl {
    background: none repeat scroll 0 0 #FAFAFA;
    margin: 8px 0;
    padding: 0;
}

dt {
    display: inline-block;
    width: 170px;
}

dd {
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
}

h2 {
    margin: 15px 0 5px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 15px;
    margin-bottom: -10px;
}

b {
    font-size: 18px;
}

li {
    margin: 15px 0;
}

p {
    /*margin-bottom: 10px;*/
    margin: 20px;
}

a[href^="skype:"] {
    padding-left: 20px !important;
    background: url(../img/skype.png) no-repeat center left;
}

a[href^="mailto:"] {
    padding-left: 20px !important;
    background: url(../img/email.png) no-repeat center left;
}

a[href^="https://stackoverflow.com"] {
    padding-left: 20px !important;
    background: url(../img/so.png) no-repeat center left;
}

a[href^="https://www.linkedin.com"] {
    padding-left: 20px !important;
    background: url(../img/lin.png) no-repeat center left;
}

a[href^="https://github.com"] {
    padding-left: 20px !important;
    background: url(../img/gh.png) no-repeat center left;
}

.wrapper {
    background-color: whitesmoke;
    list-style-type: none;
    padding: 0;
    border-radius: 3px;
    width: 900px;
}

.form-row {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
}

.form-row > label {
    padding: .5em 1em .5em 0;
    flex: 1;
}

.form-row > input,
.form-row > textarea {
    flex: 4;
    padding: .5em;
}
